@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  font-style: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  font-style: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 900;
  font-style: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  font-style: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  background-color: #fff;
  min-height: 100%;
  font-family: "San Francisco", Helvetica, sans-serif;
  color: #fff;
  padding: 1vw;
}

main {
  min-height: 100%;
  /*background-color: #131415;*/
  border-radius: 58px;
}

/* mobile */
@media (max-width: 768px) {
  main {
    padding-bottom: 100px;
  }
  h1 {
    padding-bottom: 5px;
  }
}

.container {
  padding: 4vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  max-width: 800px;
  margin-top: -200px;
}

header {
  display: flex;
  justify-content: center;
}

.tds-icon {
  width: 100px;
  height: auto 0;
}

.cybertruckContainer {
  display: flex;
  justify-content: end;
}

#cybertruck {
  width: 60vw;
  height: auto;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  padding: 0;
  line-height: 1;
}

p {
  font-weight: 100;
  font-size: 1rem;
  max-width: 500px;
  margin-bottom: 50px;
}

/***************
Button
***************/
#referral-btn {
  margin-top: 20px;
  background-color: transparent;
  border-radius: 35px;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: thin;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
#referral-btn:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.05);
}

/***************
Footer
***************/
footer {
  margin-top: -30px;
  width: 100%;
}

#copyright {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}